
img {
    align-items: center;
}
html {
    background-color: rgb(20,20,20);
}p {
    color: aliceblue;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.pd1 {
    background-color: rgb(20,20,20);
    /* overflow-y: auto; */
    /* padding: 10%; */
}

#head {
    color: aliceblue;
    text-align: center;
}

.center_text {
    text-align: center;
}

#btn {
    background-color: #47afff;
    color: beige;
    border-radius: 10px;
    height: 40px;
    /* width: 75px; */
    letter-spacing: 1px;
    font-size: 19px;
    font-family: cursive;
}

#btn:hover{
    background-color: #0a95ff;
}

#nav-bar #a:hover {
    color: #c0ffff;
}

#btn2 {
    background-color: rgb(40, 40, 40);
    color: beige;
    border-radius: 5px;
    height: 45px;
    display: block;
    margin-left: 100%;
    border-color: rgb(227, 177, 255);
    font-family: system-ui;
}

.column {
    float: left;
    width: 50%;
    }

.row:after {
    content: "";
    display: table;
    clear: both;
    }
    
#button {
    /* width: fit-content; */
    height: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
  li {
    float: left;
}
  
  li a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

#nav-bar #a {
    color: white;
    font-size: 35px;
    font-family: serif;
    display: flex;
}